* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
*:focus {
  box-shadow: none !important;
  border: none !important;
}
.pl-0 {
  padding-left: 0px !important;
}
.pr-0 {
  padding-right: 0px !important;
}
.ml-0 {
  margin-left: 0px !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.pbg1 {
  background: green;
  color: white !important;
}
.pbg2 {
  background: #046404;
  color: white !important;
}
.pbutton1 {
  background: rgb(58, 48, 121);
  color: white !important;
}
.pbutton1:hover {
  background: rgb(76, 63, 158);
  color: rgb(226, 226, 226);
}
.pbutton1:focus {
  background: rgb(54, 45, 117);
  color: rgb(199, 199, 199);
}
.pbutton2 {
  background: rgb(69, 46, 221);
  color: white;
}
.pbutton2:hover {
  background: rgb(55, 46, 112);
  color: rgb(226, 226, 226);
}
.pbutton2:focus {
  background: rgb(90, 73, 201);
  color: rgb(199, 199, 199);
}
.border-primary {
  border-color: rgb(71, 206, 71) !important;
}
.primary-border {
  height: 2px;
  width: 100%;
  background: linear-gradient(90deg, white, rgb(41, 161, 41), white);
  border-radius: 100%;
}
.nav-margin {
  margin-top: 62px !important;
}
.nav-custom {
  top: 20px;
  right: 20px;
}
.navhed {
  color: #818080;
  font-size: 11px;
}
.nav-space {
  height: 54px;
  width: 100vw;
}
.vw100 {
  width: 100vw;
}

.custom-showdow {
  box-shadow: 0px 0px 21px rgb(0 0 0 / 29%);
}
h2 {
  font-size: 18px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 18px;
}
.index-p {
  font-size: 14px;
  line-height: 14px;
  margin-top: 6px;
}
.index-img-width {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  border-radius: 3px;
}
.col-12.rounded-2.pbg1.d-flex {
  padding: 6px;
}
.circel {
  height: 55px;
  width: 55px;
  border: 1px solid black;
  border-radius: 100%;
  margin-right: 10px;
}
.custom-quran-list {
}
.full-quran-page {
  margin-top: 100px;
}
.ayat-scroll-div {
  height: 75vh;
}
.list-titel-fs {
  font-size: 17px;
}
.list-font-size {
  font-size: 13px;
}


:root {
	--yellow: #56ff40;
	--dark: #2f313a;
	--deg: -86deg;
	--trans: all 0.4s ease 0s;
}


h2 {
	text-align: center;
}

.team {
	padding: 2em 0 2em 2.5em;
	margin: 0;
}

.member {
	margin: 1.5em 0 0.5em;
	padding: 0.73em;
	background: linear-gradient(
		83deg,
		#56ff40 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
	position: relative;
	list-style: none;
	display: inline-block;
	transform: scale(0.85);
	transition: all 0.4s ease 0s;
}

.member:nth-of-type(even) {
	text-align: right;
	background: linear-gradient(
		-83deg,
		#56ff40 0 97%,
		#fff0 calc(97% + 1px) 100%
	);
}

.thumb {
	width: 13vmin;
	height: 13vmin;
	float: left;
	margin-right: 1.25em;
	background: linear-gradient(
		-86deg,
		#2f313a 0 70%,
		#56ff40 0% 100%
	);
	transform: rotate(-4deg);
	transition: all 0.4s ease 0s;
	border-radius: 0.25em;
	overflow: hidden;
	margin-left: -3em;
	padding: 0.5em;
}
.member:nth-of-type(even) .thumb {
	--deg: 86deg;
	float: right;
	margin-left: 2em;
	margin-right: -3em;
	transform: rotate(4deg);
}

.thumb img {
	width: 100%;
	height: 100%;
	border-radius: 0.25em;
	filter: grayscale(1);
	background: #2f313a;
}

.member:hover {
	transform: scale(1);
	transition: all 0.4s ease 0s;
	filter: drop-shadow(0px 20px 10px #0008);
}

.member:hover .thumb {
	padding: 0.1em;
	transition: all 0.4s ease 0s;
	transform: rotate(-1deg);
	--deg: -89deg;
}

.member:nth-of-type(even):hover .thumb {
	--deg: 91deg;
}

.member:hover .thumb img {
	filter: none;
	transition: all 0.4s ease 0s;
}

.description {
	padding-top: 1vmin;
}

.description p {
	padding: 0 2em;
	margin-bottom: 1em;
}

.list-one {
    background: linear-gradient(182deg, rgb(239 13 13) 60%, #2f313a 0 100%);
    display: inline;
    transform: rotate(-2deg);
    position: absolute;
    margin: 0;
    margin-top: -2.25em;
    left: 9vmin;
    padding: 0.3em 0.55em;
    color: #56ff40;
    border-radius: 0.25em;
    font-size: 0.9em;
    transform-origin: left bottom;
}

.member:nth-of-type(even) h3 {
	left: inherit;
	right: 9vmin;
	transform: rotate(2deg);
	transform-origin: right bottom;
	background: linear-gradient(-182deg, rgb(233, 6, 6) 60%, #2f313a 0 100%);
}

.member:hover h3 {
	transition: all 0.4s ease 0s;
	transform: rotate(0deg);
	background: linear-gradient(180deg, rgb(8, 230, 64)55, 255, 255) 59%, #2f313a 0 100%);
}

.co-funder:after {
	content: "CO-FUNDER";
	font-size: 0.75em;
	position: absolute;
	top: -1.5em;
	background: #56ff40;
	right: 4em;
	transform: rotate(3deg);
	padding: 0.35em 0.75em 0.5em;
	border-radius: 0.25em;
	color: #2f313a;
	font-weight: bold;
}

.co-funder:nth-of-type(even):after {
	right: inherit;
	left: 4em;
	transform: rotate(-3deg);
}

.description p a {
	display: inline-block;
	margin: 0.5em 0 0 0;
	background: #2f313a;
	color: #56ff40;
	padding: 0.1em 0.5em 0.35em;
	border-radius: 0.5em;
	text-decoration: none;
	transition: all 0.4s ease 0s;
}
.description p a:hover {
	transition: all 0.4s ease 0s;
	color: #2f313a;
	background: #56ff40;
	font-weight: bold;
}

.description p a img {
	float: left;
	width: 22px;
	filter: invert(1);
	border-radius: 0.15em;
	padding: 2px;
	background: #fff;
	margin-right: 2px;
}
